<section class="vh-100">
  <div class="container-fluid" style="width:75%">
    <div class="row"><h1 class="title text-center">Nos Habitats</h1>
    </div>
    <div class="row"><h2>Heading</h2></div>
    <div class="row"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p></div>
    <div class="row justify-content-evenly">

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
        </div>
      </div>

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
        </div>
      </div>

    </div>
  </div>
</section>
