.title {
  font-size: 10rem;
}

.avis-container {
  width: 75%;
  margin: 0 auto; /* Centre le conteneur horizontalement */
}

.card {
  width: 100%;
  margin-bottom: 15px; /* Espace entre les cartes */
  background-color: var(--vert-mousse);
  box-shadow: 0px 5px 20px #8e8c8c; /* Ombre de la carte */
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0s 0.3s; /* Transition pour l'effet de grossissement, l'ombre et le z-index */
  position: relative; /* Assure que le z-index est appliqué */
}

.card-body {
  padding: 15px;
}

.card-title {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--jaune-sable);
  color: var(--brun-terre);
  border-radius: 50px; /* Bord arrondi pour la pillule */
  font-weight: bold;
}

.card-text {
  background-color: var(--blanc-ivoire);
  color: var(--brun-terre);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--brun-terre);
}

.card:hover {
  transform: scale(1.5); /* Augmente la taille de la carte de 50% */
  box-shadow: 0px 10px 30px #666; /* Augmente l'ombre pour donner un effet de surélévation */
  z-index: 10; /* Assure que la carte survolée est au-dessus des autres */
}
