<section class="vh-100">
  <div class="container-fluid" style="width:75%">
    <div class="row">
      <h1 class="title text-center">Avis</h1>
      </div>
  </div>

  <div class="container testimonialinner">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 style-3">
        <div class="tour-item ">
          <div class="tour-desc bg-white">
            <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
            <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
          </div>
        </div>

      </div>
      <div class="col-md-4 style-3">
        <div class="tour-item ">
          <div class="tour-desc bg-white">
            <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
            <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
          </div>
        </div>

      </div>
      <div class="col-md-4 style-3">
        <div class="tour-item ">
          <div class="tour-desc bg-white">
            <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
            <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
