<section>
  <div class="row">
    <div class="row" ><h1 class="title text-center">Nos Services</h1>
    </div>
    <div class="col-md-2"  id="columnButtons" >
      <div class="d-flex flex-column">
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('zoo-services')">Modifier les services</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('animals')">Alimentation des animaux</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('avis')">Validation des avis</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('contact')">Gestion Contact</button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="container">
        <!-- Alert section -->
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertClass" role="alert">
          {{ alertMessage }}
        </div>
        <!--data table-->
        <table *ngIf="data.length > 0" class="table table-striped text-center">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="currentEndpoint === 'zoo-services'">
            <tr *ngFor="let row of data">
              <td>{{ row.nom}}</td>
              <td>{{ row.images}}</td>
              <td>{{ row.description }}</td>
              <td>
                <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier le service">
                  <i class="bi bi-pencil-square" (click)="editService(row)"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="currentEndpoint === 'animals'">
            <tr *ngFor="let row of data">
              <td>{{ row.prenom }}</td>
              <td>{{ row.espece }}</td>
              <td>{{ row.images }}</td>
              <td>{{ row.habitat }}</td>
              <td>{{ row.alimentation }}</td>
              <td>
                <button class="btn btn-secondary" (click)="addAlimentation(row)">Add</button>
                <button class="btn btn-secondary" (click)="editAlimentation(row)">Edit</button>
                <button class="btn btn-secondary" (click)="deleteAlimentation(row)">Delete</button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="currentEndpoint === 'avis'">
            <tr *ngFor="let row of data">
              {{row.value}}
              <td>{{ row.visible }}</td>
              <td>{{ row.pseudo }}</td>
              <td>{{ row.commentaire }}</td>
              <td><button class="btn btn-secondary" (click)="readComment(row)">Lire</button></td>
            </tr>
          </ng-container>
          <ng-container *ngIf="currentEndpoint === 'contact'">
            <tr *ngFor="let row of data">
              <td>{{ row.nom }}</td>
              <td>{{ row.email }}</td>
              <td>{{ row.message }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Zoo-service Modal -->
  <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveChanges()">
            <div class="mb-3">
              <label for="serviceName" class="form-label">Service Name</label>
              <input type="text" class="form-control" id="serviceName" [(ngModel)]="selectedRow.nom" name="serviceName">
            </div>
            <div class="mb-3">
              <label for="serviceDescription" class="form-label">Service Description</label>
              <textarea class="form-control" id="serviceDescription" [(ngModel)]="selectedRow.description" name="serviceDescription"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer"></div>
