<section>
  <div class="row">
    <div class="row" ><h1 class="title text-center">Espace Employé(e)</h1>
      <h2 class="subtitle text-center">{{ subtitle }}</h2>
    </div>

    <div class="col-md-2"  id="columnButtons" >
      <div class="d-flex flex-column">
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('zoo-services')">Modifier les services</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('animals')">Alimentation des animaux</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('avis')">Validation des avis</button>
        <button class="btn btn-primary mb-2 btn-custom rounded-pill" (click)="fetchData('contact')">Gestion Contact</button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="container">
        <!-- Alert section -->
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertClass" role="alert">
          {{ alertMessage }}
        </div>
        <!--data table-->
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
            <th *ngIf="showGestionColumn">Gestion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data" [ngClass]="{'table-success': row['visible'] === true, 'table-danger': row['visible'] === false}">
            <td *ngFor="let key of tableHeaders">
              <ng-container *ngIf="row[key] === true">
                <i class="bi bi-eye-fill"></i>
              </ng-container>
              <ng-container *ngIf="row[key] === false">
                <i class="bi bi-eye-slash-fill"></i>
              </ng-container>
              <ng-container *ngIf="row[key] !== true && row[key] !== false">
                {{ row[key] }}
              </ng-container>
            </td>
            <td *ngIf="showGestionColumn">
              <button *ngIf="currentEndpoint === 'zoo-services'" type="button" class="btn btn-warning" (click)="editService(row)" data-bs-toggle="tooltip" title="Edit Service">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button *ngIf="currentEndpoint === 'animals'" type="button" class="btn btn-warning" (click)="editAlimentation(row)" data-bs-toggle="tooltip" title="Edit Alimentation">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button *ngIf="currentEndpoint === 'avis'" type="button" class="btn btn-info" (click)="readComment(row)" data-bs-toggle="tooltip" title="Lecture de l'avis">
                <i class="bi bi-book"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="spacer"></div>

<!-- Zoo-service Modal -->
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveChanges()">
          <div class="mb-3">
            <label for="serviceName" class="form-label">Service Name</label>
            <input type="text" class="form-control" id="serviceName" [(ngModel)]="selectedRow.nom" name="serviceName">
          </div>
          <div class="mb-3">
            <label for="serviceDescription" class="form-label">Service Description</label>
            <textarea class="form-control" id="serviceDescription" [(ngModel)]="selectedRow.description" name="serviceDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Modale pour lecture de l'avis -->
<div class="modal fade" id="readCommentModal" tabindex="-1" aria-labelledby="readCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readCommentModalLabel">Lecture de l'avis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Visible:</strong><i *ngIf="selectedRow.visible" class="bi bi-eye-fill"></i><i *ngIf="!selectedRow?.visible" class="bi bi-eye-slash-fill"></i></p>


        <p><strong>Pseudo:</strong> {{ selectedRow.pseudo }}</p>
        <p><strong>Commentaire:</strong> {{ selectedRow.commentaire }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="toggleCommentVisibility()">
          {{ selectedRow.visible ? 'Rendre invisible l\'avis' : 'Rendre visible l\'avis' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Modal pour édition de l'alimentation des animaux -->

<div class="modal fade" id="editAlimentationModal" tabindex="-1" aria-labelledby="editAlimentationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAlimentationModalLabel">Modifier l'Alimentation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="animalName" class="form-label">Nom de l'animal</label>
            <input type="text" class="form-control" id="animalName" [(ngModel)]="selectedRow.prenom" name="prenom">
          </div>
          <div class="mb-3">
            <label for="species" class="form-label">Espèce</label>
            <input type="text" class="form-control" id="species" [(ngModel)]="selectedRow.espece" name="espece">
          </div>

          <div class="mb-3">
            <label for="species" class="form-label">Habitat</label>
            <input type="text" class="form-control" id="habitat" [(ngModel)]="selectedRow.habitat" name="habitat">
          </div>

          <div class="mb-3">
            <label for="species" class="form-label">Alimentation</label>
            <input type="text" class="form-control" id="Alimentation" [(ngModel)]="selectedRow.alimentation" name="alimentation">
          </div>

          <div class="mb-3">
            <label for="species" class="form-label">Etat</label>
            <input type="text" class="form-control" id="Etat" [(ngModel)]="selectedRow.etat" name="etat">
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="saveAlimentationChanges()">Enregistrer les modifications</button>
      </div>
    </div>
  </div>
</div>

