<section class="vh-100">
  <div class="container-fluid" style="width: 75%">
    <div class="spacer"></div>
    <div class="row">
      <h1 class="title text-center">Laissez-nous votre avis!</h1>
    </div>
    <div class="spacer"></div>

    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <input type="text" name="pseudo" placeholder="Votre nom" ngModel maxlength="50" />
      <textarea name="commentaire" placeholder="Votre message" ngModel maxlength="500" (input)="updateCharCount($event)"></textarea>
      <div class="char-counter">
        {{ remainingChars }}/500 caractères restant
      </div>
      <input type="submit" value="Send" />
    </form>
  </div>
</section>
