<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Nos Horaires</h1></div>
    <div class="container my-5">
       <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Heures d'ouverture</th>
          <th scope="col">Heures de fermeture</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lundi</td>
          <td>09:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>09:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>09:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>09:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>09:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <td>Samedi</td>
          <td>10:00</td>
          <td>19:00</td>
        </tr>
        <tr>
          <td>Dimanche</td>
          <td>10:00</td>
          <td>19:00</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

