<app-header></app-header>
<h1>Zoo Arcadia</h1>
<nav>
  <ul>
    <li><a routerLink="/Accueil" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a></li>
    <li><a routerLink="/Services-zoo" routerLinkActive="active" ariaCurrentWhenActive="page">Services du zoo</a></li>
    <li><a routerLink="/Connexion" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a></li>
    <li><a routerLink="/Contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a routerLink="/Avis" routerLinkActive="active" ariaCurrentWhenActive="page">Avis</a></li>
    <li><a routerLink="/Espace-employe" routerLinkActive="active" ariaCurrentWhenActive="page">Espace Employé</a></li>
    <li><a routerLink="/Espace-administrateur" routerLinkActive="active" ariaCurrentWhenActive="page">Espace Administrateur</a></li>
    <li><a routerLink="/Espace-veterinaire" routerLinkActive="active" ariaCurrentWhenActive="page">Espace Vétérinaire</a></li>
    <li><a routerLink="/Habitats" routerLinkActive="active" ariaCurrentWhenActive="page">Habitats</a></li>
    <li><a routerLink="/Dashboard-Habitats" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard Habitats</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<test-form></test-form>

<app-footer></app-footer>

