

<app-header></app-header>
<!--landing Accueil-->
<section class="vh-100">
<div class="container">
  <div class="row"><h1 class="title text-center">Arcadia</h1></div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-primary">Horaires du parc</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">réserver un service</button>
    </div>
    <div class="col"></div>
  </div>
</div>
</section>
<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Présentation du zoo</h1>
    </div>
  </div>
</section>
<!-- Habitats -->
<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Nos Habitats</h1>
    </div>
  </div>
</section>
<!-- Services -->
<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Nos Services</h1>
    </div>
  </div>
</section>
<!-- Animaux -->
<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Nos Animaux</h1>
    </div>
  </div>
</section>
<!-- Avis -->
<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Avis</h1>
    </div>
  </div>
</section>



<button type="button" class="btn btn-warning" id="cookieButton">Cookies</button>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>


<app-footer></app-footer>

