<section class="vh-100">
  <div class="container-fluid" style="width:75%">
    <div class="row"><h1 class="title text-center">Les Habitats</h1>
    </div>
    <div class="spacer"></div>
    <div class="row justify-content-evenly">

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
        </div>
      </div>

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="img__wrap mx-auto d-block">
          <img src="https://place-hold.it/300x300" alt="" class="img-fluid rounded">
          <div class="img__description_layer">
            <p class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
        </div>
      </div>

    </div>
  </div>
</section>
