<footer class="footer col-md-12">
  <div class="container-fluid d-flex justify-content-evenly">
    <div class="row">
      <div class="col-md-4">
        <p><span class="custom-link" id="conditionsLink">Conditions générales de vente</span>-<span class="custom-link" id="pdpLink">Protection des données personnelles </span>-Mentions légales</p>
      </div>
      <div class="col-md-4">
        <p>Zoo Arcadia
          1 route de la Foret de Brocéliance
          35250 Kaamelot
          Tel 01-01-01-01-01</p>
      </div>
      <div class="col-md-4">
        <p>Réalisation: DevSoft</p>
      </div>
    </div>
  </div>

</footer>

