<section class="vh-100">
  <div class="container">
    <div class="row"><h1 class="title text-center">Arcadia</h1></div>
    <div class="row" style="height: 12em"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button type="button" class="btn btn-custom rounded-pill" a routerLink="/Horaires">Horaires du parc</button>
      </div>

      <div class="col">
        <button type="button" class="btn btn-custom rounded-pill">réserver un service</button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>

<app-zoo-presentation></app-zoo-presentation>
<app-accueil-services></app-accueil-services>
<app-accueil-habitats></app-accueil-habitats>
<app-accueil-avis></app-accueil-avis>
